* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
    width: 400px;
    border: 2px solid white;

    header {
        section#h {
            display: flex;
            justify-content: space-between;
           padding-top: 5px;
            div {
                h1 {
                    color: white;
                    padding-left: 5px;
                }
            }


            div {
                display: flex;
                color: white;

                span.th {
                    margin-right: 25px;
                    font-size: 22px;
                }

                span.pl {
                    margin-right: 25px;
                    font-size: 22px;
                }
                span.li {
                    margin-right: 10px;
                    font-size: 22px;
                }

            }
        }
    }

    main {

        section#pro {
            display: flex;

            div.pho {
                img {
                    width: 85px;
                    height: 85px;
                    padding-top: 20px;
                    padding-left: 8px;
                }
            }

            div.na {
                margin-top: 20px;
                margin-left: 20px;
                color: white;

                div.po {
                    display: flex;
                    padding-left: 4px;
                    padding-top: 8px;
                    gap: 45px;
                }
            }

        }

        section#quote {
            color: white;
            padding-left: 6px;

            div.song {
                padding-top: 5px;
                padding-left: 3px;
            }
        }

        section#share {
            color: white;
            padding-left: 3px;
            padding-top: 10px;
            display: flex;
            align-items: center;
            gap: 8px;

            div.edit {
                height: 25px;
                width: 115px;
                padding-left: 40px;
                padding-top: 5px;

                border-radius: 9px;
                border: 3px solid;
                overflow: hidden;
            }

            div.sha {


                height: 25px;
                width: 125px;
                border-radius: 9px;
                overflow: hidden;
                padding-left: 30px;
                padding-top: 5px;
                border: 3px solid;
            }

            div.user {
                height: 25px;
                width: 30px;
                border: 3px solid;
                border-radius: 9px;
                padding-left: 10px;
                padding-top: 5px;
            }
        }

        section#high {
            padding-top: 20px;
            padding-left: 10px;
            display: flex;
            gap: 20px;

            div.sch {
                color: white;

                img {
                    width: 85px;
                    height: 85px;

                }

                P {
                    padding-left: 10PX;
                }
            }

            div.team {
                color: white;

                img {
                    width: 85px;
                    height: 85px;
                }

                P {
                    padding-left: 20PX;
                }
            }

            div.new {
                color: white;

                img {
                    width: 85px;
                    height: 85px;

                }

                P {
                    padding-left: 25px;
                }
            }
        }

        section#reels {
            padding-top: 20px;
            display: flex;
            gap: 110px;
            padding-left: 60px;

            div.pos {
                color: white;
            }

            div.reel {
                color: rgb(107, 100, 100);
            }

            div.tag {
                color: rgb(107, 100, 100);
            }
        }

        section#real {
            padding-top: 10px;
            /* height: 290px; */

            div.ggrid {
                /* border: px solid white; */
                display: grid;
                grid-template-columns: auto auto auto;

                div.one {
                    width: 135px;

                    /* height: 290px; */
                    div.img1 {
                        height: 50%;
                        border: 1px solid black;

                        img {
                            width: 100%;
                            height: 70%;
                            padding-top: 20px;
                            object-fit: cover;
                        }

                        a {
                            position: relative;
                            left: 110px;
                            bottom: 132px;
                            color: white;
                        }
                    }

                    div.img4 {
                        height: 50%;
                        border: 1px solid black;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        /* a {
                            position: relative;
                            left: 110px;
                            bottom: 100px;
                            color: white;
                        } */

                    }
                }

                div.two {
                    width: 135px;
                    /* height: 290px; */

                    div.img2 {
                        height: 50%;
                        border: 1px solid black;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    div.img5 {
                        height: 50%;
                        border: 1px solid black;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                div.three {
                    width: 130px;
                    height: 300px;


                    div.img3 {
                        height: 53%;
                        border: 1px solid black;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    div.img6 {
                        height: 53%;
                        border: 1px solid black;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }


    }
}


footer {
    position: sticky;
    bottom: 0%;

    section#foo {

        div.bot {
            display: flex;
            color: white;
            background-color: black;
            gap: 55px;
            height: 40px;
            align-items: center;
            padding-left: 33px;
            padding-right: 10px;
            padding-top: 10px;
            border: 2px solid black;
        }
    }
}